<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        testsuite="default"
        bootstrap="./tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
