<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        bootstrap="vendor/autoload.php"
        defaultTestSuite="default"
>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
            <exclude>tests/Benchmarks/</exclude>
        </testsuite>
        <testsuite name="benchmarks">
            <directory>tests/Benchmarks</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
